/* @import "tailwindcss"; */

/* Importar o bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons";

.main-header {
  transition: all 0.3s ease;
  padding: 15px 0;
}

.main-header.scrolled {
  padding: 5px 0;
  box-shadow: var(--bs-box-shadow) !important;
  backdrop-filter: blur(5px);
}


@media (max-width: 768px) {
  .dropdown-menu {
    transform: translateX(0) !important;
  }
}

ul.dropdown-menu.dropdown-menu-start.show{
  left: -145px !important;
  top: 60px;
  width: 200px;
}